@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container__img{
    border: 1px solid rgba(0, 0, 0, 0.171);
    margin-left: 30px;
    margin-top: 50px;
    width: 550px;
}

.mainDetailCard__container{
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
}

.div_name_product_details h1{
    display: inline-flex;
    font-size: 60px;
    margin-top: 130px;
    margin-left: 100px;
}

.icon_fav_details{
    display: inline-flex;
    padding: 30px;
    margin-left: 10px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.div_price_product_details{
    margin-top: 15px;
    font-size: 25px;
}

.price_product_details {
    margin-left: 100px;
}


.div_color_product_details{
    font-size: 20px;
    margin-left: 100px;
}

.div_stock_product_details{
    margin-left: 100px;
    margin-top: 10px;
}

.container__button-buy button{
    padding: 10px 50px;
    font-size: 18spx;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 100px;
}

.div_size_product_details{
    padding: 10px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.466);
    font-size:15px;
    margin-right: 10px;
    margin-top: 20px;
}

.div_size_product_details_one{
    display: inline-flex;
    margin-left: 100px;
}




.input_color_details{
    margin-top: 27px;
    margin-left: 3px;
}

.color_filter_detail{
    display: inline-flex;
  margin: 5px;
  margin-top: 18px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  cursor:none;
}

.div_buttons_details{
    display: inline-flex;
}