@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.mainDetailCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.container__img {
  border: 1px solid rgba(0, 0, 0, 0.171);
  height: 360px;
  width: 360px;
  margin: 40px;
}

.container__img img {
  width: 100%;
  height: 100%;
}

.mainDetailCard__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_name_product_details h1 {
  font-size: 60px;
  text-align: center;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.div_price_product_details {
  margin-top: 15px;
  font-size: 25px;
}

/* .price_product_details {
  margin-left: 100px;
} */

.div_color_product_details {
  font-size: 20px;
  margin-top: 10px;
}

.div_stock_product_details {
  margin-top: 10px;
}

.container__button-buy button {
  padding: 10px 50px;
  font-size: 18spx;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.div_size_product_details {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.div_size_product_details label {
  margin: 3px;
}

.div_color_product_details label {
  margin: 3px;
}

.div_color_product_details input {
  margin-left: 5px;
  margin-right: 2px;
}
