@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container__img{
    border: 1px solid rgba(0, 0, 0, 0.171);
}

.container__card-img{
    width: 30vw;
}

.mainDetailCard__container{
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin-top: 7%;
    margin-inline: 5%;
}

.container__card-content{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}
.div_name_product_details h1{
    font-size: 4rem;
}

.icon_fav_details{
    display: inline-flex;
    padding: 0px;
    /* margin-left: 95px; */
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.div_price_product_details{
    margin-top: 15px;
    font-size: 25px;
}

/* .price_product_details {
    
} */


.div_color_product_details{
    font-size: 20px;
}

.div_stock_product_details{
    
    margin-top: 10px;
}

.container__button-buy button{
    padding: 10px 50px;
    font-size: 18spx;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    /* margin-left: 100px; */
}

.div_size_product_details{
    
    font-size:15px;
    
    margin-top: 10px;
}

.div_size_individual_select > input{
    display:none;
}

.color_filter_detail > input{
    display:none;
}

.div_size_individual_select{
    border: 1px solid rgba(0, 0, 0, 0.171);
    cursor: pointer;
    margin: 5px;
    width: 7%;
    text-align-last: center;
    -webkit-text-stroke: thin;
}

.div_size_product_details_one{
    display: inline-flex;
    margin-left: 100px;
}




.input_color_details{
    margin-top: 27px;
    margin-left: 3px;
}

.color_filter_detail{
    display: inline-flex;
    margin: 5px;
    margin-top: 18px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    cursor: pointer;
}

.div_buttons_details{
    display: inline-flex;
}
