@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.div_container_card_product {
    width: 25%;
    display: inline-flex;
}

.div_card_product {
    background-color: #fff;
    height: 460px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.div_card_product:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3); 
    text-decoration: none;
    color: black;
}

.div_card_product img {
    width: 330px;
    height: 370px;
}

.card_name_product {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 15px;
    font-weight: 1000;
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.card_desc_product {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
}