#ordersOrUsers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ordersOrUsers td, #ordersOrUsers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ordersOrUsers tr:nth-child(even){background-color: #f2f2f2;}

#ordersOrUsers tr:hover {background-color: #ddd;}

#ordersOrUsers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5F9EA0;
  color: white;
}

.editUser h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.button-change {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-change:hover,
.button-change:focus {
  background-color: #07c;
}

button:disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.button-change:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-change:active {
  background-color: #0064bd;
  box-shadow: none;
}
