.cartDisplay {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.cartProductBox {
  display: grid;
  padding: 10px;
  border: 1px solid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: 50px 400px 130px repeat(5, 1fr) 200px;
}

.cartLabels {
  font-size: medium;
  font-weight: bold;
}

.stockInput {
  width: 100%;
}

.button {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  width: 35px;
  height: 35px;
}

.checkoutSwitch {
  display: inline-block;
  position: absolute;
  right: 0px;
}

.goToCheckoutButton {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
