@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.div_lateralProfile{
  /*   display: grid;
    grid-template-columns: 1fr 1fr; */
    font-family: 'Poppins', sans-serif;
    width: 250px;
    height: 430px;
}

.div_fav_products{
    max-width: 100%;
    width: 100%;
    display: block;
    margin-left: 80px;
}

.divqencierratodo{
    display: inline-flex;
}

.div_fav_products img{
    width: 100%;
}

.div_profile{
    margin-left: 40px;
}

.img_profile_profile{
    margin-top: 20px;
    border-radius: 100px;
    width: 23%;
}

.name_title_profile{
    font-size: 17px;
    margin-top: 10px;
}

.email_p_profile{
    font-size: 14px;
}

.button_logout_profile{
    border-radius: 2px;
    padding: 5px 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    margin-bottom: 20px;
}

.hr_profile{
    width: 280px;
}

.edit_profile_h1_profile{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.history_h1_profile{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.favorites_h1_profile{
    font-size: 20px;
    text-decoration: none;
    color: black;
}