.titulo{
    margin-left: 8px;
    margin-top: 1.5%;
}

.div-conteiner{
    width: 100%;
    height: 50%;
    margin-left: 28%;
    max-width: 70%;
}

.conteiner-perfil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgba(0, 0, 0, 0.692);
}

.conteiner-datos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.btn{
    background: rgba(0, 0, 0, 1);
    color: white;
    margin-left: 8px;
}
.btn:hover{
    color:blue
}

.adicional-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-left: 8px;
    width: 105ch 
}

.hardcore{
    position: absolute;
    margin-left: 8px;
    margin-top: 1%;
}