@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.div_add_product{
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
}

.title_add_product{
    margin-bottom: 10px;
}

.image_add_product{
    margin-left: 50px;
    margin-top: 30px;
}

.div_form_add_product{
    margin-left: 100px;
    margin-top: 25px;
}

.p_add_product{
    color: black;
    margin-bottom: 0px;
    font-size: 15px;
}

.div_name_add_product {
    margin-bottom: 10px;
}

.div_category_add_product{
    margin-bottom: 10px;
}

.div_category_add_product select{
    padding: 5px 26.5px;
    margin-right: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
}

.div_category_add_product button{
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    border: none;
    padding: 5px 30px;
}

.div_size_add_product{
    margin-bottom: 10px;
}

.div_size_add_product p{
    margin-bottom: 7px;
}

.div_size_add_product button{
    background-color: white;
    color: black;
    margin-right: 20px;
    padding: 7px 12px;
    border: rgba(0, 0, 0, 0.548) 1px solid;
}   

.div_size_add_product .select {
    border: rgba(0, 47, 255, 0.548) 3px solid;
}

.div_colors_add_product{
    margin-bottom: 10px;
}

.div_colors_add_product button{
    width: 30px;
    height: 30px;
    margin-right: 13px;
}

.color_select {
    border: rgba(0, 47, 255, 0.747) 3px solid;    
    border-radius: 100px;
}

.div_image_add_product{
    margin-bottom: 15px;
}

.div_button_add_product button{
    padding: 5px 147px;
    border: none;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    margin-bottom: 20px;
}

.div_input_stock_adn_price{
    display: inline-flex;
    margin-bottom: 20px;
}

.div_input_stock_adn_price input{
    text-align: center;
    margin-right: 40px;
    width: 100px;
}

