@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.navbar {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: blueviolet;;
  padding-inline: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position-x: center;
  flex-wrap: wrap;
}



.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.navbar nav {
  height: auto;
}

.list {
margin:0;
padding: 0;
  list-style: none;
  display: flex;
      flex-flow: row;
  align-items: baseline;
  height: 100%;
}

.list-item {
  margin: 0;
}

.list-item a {
  color: white;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
}

.list-item a:hover,
.list-item a.active {
  background-color: #808080;
  color: white;
}

.link-add{
  text-decoration: none;
  
}

.switch{
  background: #343D5B;
  border-radius:  1000px;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
} 

.switch::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 2px;
  margin-left: 2px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
  background: orange;
  color: #000
}

.switch.active::after {
  right: 0;
  left: unset;
}

span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}